.Container{
    width: 100vw;
    display: flex;
    /* border: 2px solid red; */

}
.description{
    width: 60%;
    height: 60%;
    /* border: 2px solid red; */
    margin-top: 10%;
    margin-left: 3%;
    justify-content: center;
    align-items: center;
}
.description p{
    font-style: garamond;
    font-size: 2rem;
    color: white;
    
}
.aboutme{
    display: flex;
    width: 20%;
    height: 60%;
    /* border: 2px solid red; */
    margin-top: 10%;
    margin-left: 5%;

}
.aboutme img{
    height: 100%;
    width: 125%;
}